.venv/
venv/

# No sería necesario pero para prevenir que se muestre lo indicamos en este archivo para que se ignore
# en nuestro repositorio de GitHub

*.zip 

# Se añade la regla para excluir archivos .zip (opcional) para cuando creamos el archivo .zip con los archivos seleccionados